body {
    height: 100%;
    margin: 0;
}

.top {
    display: flex;
    align-items: center; /* 세로 중앙 정렬을 위해 추가 */
    height: 100vh; /* 화면 전체 높이를 차지하도록 설정 */
}

.top h1  {
    display: inline-block;
    font-family: "Roboto";
    color: #dfe0e1;
    margin-top: 20px;
    margin-left: 10px;
    height: 100%;
}

.box {
    display: inline-block;
    width: 616px;
    margin: 20px; 
    padding : 30px;
    border : 1px solid #DFE1E5;
    border-radius : 24px;
    background: #FFF;
    height: 100%;
}