body {
    background-color: #202027;
    color: #dfe0e1;
    font-family: "Roboto";
    height: 100%;
    margin: 0;
}

div {
    color: #202027;
}

a {
    text-decoration: none;
    text-decoration-line: none;
    color: #dfe0e1;
}

.top {
    display: flex;
    align-items: center;
    height: 15vh;
}

.top h1 {
    font-family: "Roboto";
    color: #dfe0e1;
    margin-left: 50px;
}

.box {
    /* width: 616px; */
    margin: 20px;
    padding: 30px;
    border: 1px solid #DFE1E5;
    border-radius: 24px;
    background: #FFF;
}

.game,
.game2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 268px;
    margin: 0 auto;
    margin-top: 26px;
    gap: 20px;
    zoom: 3.0;
}

.game button {
    width: 111px;
    height: 36px;
    border-radius: 4px;
    border: 1px solid #dfe0e1;
    background: #F9F0FA;
}

.score {
    text-align: center;
    color: #dfe0e1;
    margin-top: 20px;
}

.highway {
    display: block;
    text-align: center;
}