body {
    background-color: #202027;
    color: #dfe0e1;
    font-family: "Roboto";
    height: 100%;
    margin: 0;
}

div {
    color: #202027;
}

a {
    text-decoration: none;
    text-decoration-line: none;
    color: #dfe0e1;
}

.title {
    font-family: "Roboto";
    color: #dfe0e1;
    margin-left: 60px;
}

.sunBox {
    width: 616px;
    margin: 20px;
    padding: 30px;
    border: 1px solid #DFE1E5;
    border-radius: 24px;
    background: #FFF;
}

.btn