body {
    background-color: #202027;
    color: #dfe0e1;
    font-family: "Roboto";
    height: 100%;
    margin: 0;
}

div {
    color: #202027;
}

a {
    text-decoration: none;
    text-decoration-line: none;
    color: #dfe0e1;
    font-family: "Roboto";
    color: #dfe0e1;
    margin-left: 50px;
}

.title {
    text-align: center;
    margin-top: 100px;
    font-family: "Roboto";
    font-size: 90px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -15px;
}

.sunBox {
    margin: 20px;
    padding: 30px;
    border: 1px solid #DFE1E5;
    border-radius: 24px;
    background: #FFF;
}

#btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 268px;
    height: 36px;
    margin: 0 auto;
    margin-top: 26px;
    border-radius: 4px;
    border: 1px solid #dfe0e1;
    background: #F8F9FA;
    gap: 20px;
}

.title h1 {
    font-family: "Roboto";
    color: #dfe0e1;
    margin-left: 50px;
}